body {
  margin: 0;
  width: 100%;
  backdrop-filter: 10;
  background-image: url('/img/sky-34536.png') !important;
  background-size: cover;

}
/*html {
  background-color: rgb(24, 139, 101);
}*/
main {
  opacity: 100%;
  margin: auto 0;
}
img {
  max-width: 100px;
}
ul {
  list-style: none;
  padding-left: 0 !important;
  font-size: 14px;
}
h4 {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
}
h5 {
  font-size: 14px !important;
  text-align: center;
}

#temp {
  font-size: 56px !important;
}

h3 a, h3 small {
  position: relative;
  top: -30px;
  font-size: small;
}

p {
  text-align: center;
}

h2 {
  font-size: 20px !important;
}

a {
  text-decoration: none !important;
}

a:hover,
a:active {
  text-decoration: underline !important;
}

  main {
    width: 60% !important;
  }

@media only screen and (max-width: 1200px) {
  main {
    width: 75% !important;
  }
}

@media only screen and (max-width: 840px) {
  main {
    width: 95% !important;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 98% !important;
  }

  h2 {
    font-size: 16px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  #description {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 576px) {
  .forecast {
    width: 75% !important;
  }
}